@font-face {
  font-family: 'DMMono';
  src: local('DMMono'), url(./fonts/DMMono-Regular.ttf) format('truetype');
}

.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.homepage {
  background-color:#d0e0c1;
  min-height: 100vh;
}

.App-header-container {
  position: relative;
}

.App-header {
  font-family: 'DMMono';
  font-size: calc(15px + 2vmin);
  position: relative;
  top: 10px;
}

.circle {
  background: #545b94;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  color: #545b94;
  margin-left: 46%;
}


.name {
  mix-blend-mode: color-dodge;
  position: absolute;
  color: #827dba;
  margin-left: 40%;
  top: 30px;
  display: flex;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 0.0000001px;
  word-spacing: 0.1px;
}


.sidebar {
  font-family: 'DMMono';
  text-align: left;
  position: relative;
  margin-left: 30px;
  font-size: calc(5px + 2vmin);
  color: #545b94;
}

.sidebar-symbol {
  text-align: left;
  position: relative;
}


.sidebar-title {
  position: relative;
  height: 100%;
  margin: auto;
}

.App-link {
  color: #c79797;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
